@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

body {
  /*background-color:#eee;*/
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Helper Classes */

.grey-bg {
  background:#ddd;
}

.scrim {
  background: #fff;
  position: absolute;
  width:100%;
  height:100%;
}

/* Main Container */

div#content {
  position:relative;
  background:white;
  min-width: 670px;
  margin:0 auto;
  overflow:hidden;
}

/* Homepage */

div.homepage {
  position:relative;
  margin:20px auto 0 auto;
  width:600px;
  li {
    font-size:12px;
  }
  input[type="submit"] {
    display:block;
    margin:auto;
  }
}

/* Pre-test Instructions */

div.top {
  z-index: 11;
  div#pre-test-instructions {
    width:740px;
    padding:40px 20px 0 20px;
    margin:0 auto;
    div.titled-icon{
      display:inline-block;
      width:144px;
      margin-bottom:45px;
      h5 {
        margin-top:0;
      }
      div {
        position:relative;
        margin:auto;
        width:110px;
        img {
          width:50px;
          margin:auto;
        }
      }
    }
    button {
      display:block;
      margin:10px auto;
    }
  }
}

/* Target Icon Box */

div.middle {
  z-index: 10;
  div#target-icon-box {
    width:400px;
    padding:50px;
    margin:190px auto 0 auto;
    button {
      display:block;
      margin:auto;
    }
  }
}

/* Icon Array */

#icon-array {
  position:relative;
  background:white;
  width:670px;
  height:670px;
  margin:20px auto;
}

input[type="image"] {
  border:none;
  width:70px;
  &:focus {
    outline:none;
  }
}

div#target-word {
  position:relative;
  margin:auto;
  top:323px;
  width: 200px;
}

/* Icon Positioning */

.icon {
  position:absolute;
}

.p1 {
  left:300px;
  top:0px;
}
.p2 {
  left:392.705px;
  top:14.683px;
}
.p3 {
  left:476.336px;
  top:57.295px;
}
.p4 {
  left:542.705px;
  top:123.664px;
}
.p5 {
  left:585.317px;
  top:207.295px;
}
.p6 {
  left:600px;
  top:300px;
}
.p7 {
  left:585.317px;
  top:392.705px;
}
.p8 {
  left:542.705px;
  top:476.336px;
}
.p9 {
  left:476.336px;
  top:542.705px;
}
.p10 {
  left:392.705px;
  top:585.317px;
}
.p11 {
  left:300px;
  top:600px;
}
.p12 {
  left:207.295px;
  top:585.317px;
}
.p13 {
  left:123.664px;
  top:542.705px;
}
.p14 {
  left:57.295px;
  top:476.336px;
}
.p15 {
  left:14.683px;
  top:392.705px;
}
.p16 {
  left:0px;
  top:300px;
}
.p17 {
  left:14.683px;
  top:207.295px;
}
.p18 {
  left:57.295px;
  top:123.664px;
}
.p19 {
  left:123.664px;
  top:57.295px;
}
.p20 {
  left:207.295px;
  top:14.683px;
}

/* Questionnaire */

div#questionnaire {
  position:relative;
  width:500px;
  margin:40px auto;
  padding:20px 50px;
  h5 {
    margin-top:20px;
  }
  input[type="submit"] {
    display:block;
    margin:20px auto;
  }
}

/* Results */

div#results {
  padding:20px;
  width:670px;
  margin:20px auto;
}


