@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
/* pre-test-instructions */

div#pre-test-instructions {
  z-index: 11;
  position: absolute;
  margin:auto;
  background: white;
  height:100%;
  width:100%;
  div {
    width:300px;
    margin:100px auto 30px auto;
  }
  button {
    display:block;
    margin:auto;
  }
}

/* #target-icon-box */

div#target-icon-box {
  z-index: 10;
  position: absolute;
  margin:auto;
  background: white;
  height:100%;
  width:100%;
  div {
    width:300px;
    margin:100px auto 30px auto;
    h3 {
      margin-top:20px;
      margin-bottom:20px;
    }
  }
  button {
    display:block;
    margin:auto;
  }
}

/* Debug text */
.debugger {
  position:absolute;
  top: 300px;
}

/* Icons */
#icon-array {
  width:366px;
  height:280px;
  margin:auto;
}

/* Homepage */
div.homepage {
  width:500px;
  padding: 20px;
  li {
    font-size:12px;
  }
}
