@import "bootstrap";

/* mixins, variables, etc. */

$icon-radius: 0px;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Main container */
div#test-area {
  position:relative;
  background:white;
  width: 900px;
  min-width: 670px;
  height:100%;
  margin:20px auto 0 auto;
}

/* Homepage */

div.homepage {
  position:relative;
  margin:auto;
  width:600px;
  li {
    font-size:12px;
  }
  input[type="submit"] {
    display:block;
    margin:auto;
  }
}

/* pre-test-instructions */

div#pre-test-instructions {
  z-index: 11;
  position: absolute;
  margin:auto;
  background: white;
  width:900px;
  height:670px;
  button {
    display:block;
    margin:auto;
  }
}

/* Grey boxes */

.grey-box {
  width:400px;
    padding:50px;
    background:#ddd;
    margin:80px auto 30px auto;
}

/* #target-icon-box */

div#target-icon-box {
  z-index: 10;
  position: absolute;
  background: white;
  width:900px;
  height:670px;
  h3 {
    margin-top:20px;
    margin-bottom:20px;
  }
  button {
    display:block;
    margin:auto;
  }
}

/* Target Word */

div#target-word {
  position:relative;
  margin:auto;
  top:323px;
  width: 200px;
}

/* Debug text */

.debugger {
  position:relative;
  margin:auto;
  top:-300px;
  width: 300px;
}

/* Icons */

#icon-array {
  position:relative;
  background:white;
  width:670px;
  height:670px;
  margin:auto;
}

input[type="image"] {
  border:none;
}


.p1 {
  position:absolute;
  left:300px-$icon-radius;
  top:0px;
}
.p2 {
  position:absolute;
  left:392.705px-$icon-radius;
  top:14.683px;
}
.p3 {
  position:absolute;
  left:476.336px-$icon-radius;
  top:57.295px;
}
.p4 {
  position:absolute;
  left:542.705px-$icon-radius;
  top:123.664px;
}
.p5 {
  position:absolute;
  left:585.317px-$icon-radius;
  top:207.295px;
}
.p6 {
  position:absolute;
  left:600px-$icon-radius;
  top:300px;
}
.p7 {
  position:absolute;
  left:585.317px-$icon-radius;
  top:392.705px;
}
.p8 {
  position:absolute;
  left:542.705px-$icon-radius;
  top:476.336px;
}
.p9 {
  position:absolute;
  left:476.336px-$icon-radius;
  top:542.705px;
}
.p10 {
  position:absolute;
  left:392.705px-$icon-radius;
  top:585.317px;
}
.p11 {
  position:absolute;
  left:300px-$icon-radius;
  top:600px;
}
.p12 {
  position:absolute;
  left:207.295px-$icon-radius;
  top:585.317px;
}
.p13 {
  position:absolute;
  left:123.664px-$icon-radius;
  top:542.705px;
}
.p14 {
  position:absolute;
  left:57.295px-$icon-radius;
  top:476.336px;
}
.p15 {
  position:absolute;
  left:14.683px-$icon-radius;
  top:392.705px;
}
.p16 {
  position:absolute;
  left:0px-$icon-radius;
  top:300px;
}
.p17 {
  position:absolute;
  left:14.683px-$icon-radius;
  top:207.295px;
}
.p18 {
  position:absolute;
  left:57.295px-$icon-radius;
  top:123.664px;
}
.p19 {
  position:absolute;
  left:123.664px-$icon-radius;
  top:57.295px;
}
.p20 {
  position:absolute;
  left:207.295px-$icon-radius;
  top:14.683px;
}